[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scipy = "*"
statsmodels = "*"
seaborn = "*"
pillow = "*"
matplotlib = "*"
keras = "*"
jupyter = "*"
tensorflow = "*"
sklearn = "*"
pynvim = "*"

[dev-packages]

[requires]
python_version = "3.8"
