[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"
sklearn = "*"
pylint = "*"
pynvim = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.8"
